MYSQL_ROOT_PASSWORD='vcdvcfcbnccfj'
MYSQL_DATABASE='php-app-db'
MYSQL_USER='php-agent'
MYSQL_PASSWORD='vcdvcfcbnccfj'
MYSQL_HOST='db-svc'
MYSQL_TCP_PORT='3306'
TZ='America/Kentucky/Louisville'

# mysql --user='php-agent' --password='2b?1+sE_J30}@?%FG`sn~o.C3T4<|}WE' --database='php-app-db'